*{
  margin:0;
}
.app{
  background-color: #fafafa;
}
.app_header{
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: white;
  padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.app_headerImage{
  object-fit: contain;
}
.app_modal{
  display: grid;
  margin: auto;
}
.app_modal_style{
  display: block;
}
.app_posts{
  padding: 20px;
  display: flex;
  justify-content: center;
  
}
.app_postsright{
  margin-left: 25px;
}
.app_signup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}