.post{
    max-width: 500px;
    background-color: white;
    border:1px solid lightgray;
    margin-bottom: 45px;
    border-radius: 1%;

}
.post_image{
    width: 100%;
    object-fit: contain;
    border-bottom:1px solid lightgray;

}
.post_text{
    font-weight: normal;
    padding: 20px;
    padding-bottom: 0px;
}
.post_commentbox{
    display: flex;
    margin-top: 10px;
}
.comment{
    margin-top: 2px;
}
.post_input{
    flex: 1;
    border:none;
    padding: 10px;
    border-top: 1px solid lightgray;
}
.post_button{
    cursor: pointer;
    flex:0;
    border: none;
    color:#6082a3;
    background-color: transparent;
    border-top: 1px solid lightgray;
}
.post_header{
    display: flex;
    align-items: center;
    padding: 20px;
}
.post_avatar{
    margin-right: 10px;
}
.post_comments{
    padding: 20px;
}
.poat_commentbox{
    display: flex;
    margin-top: 10px;
}